<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>FianlSever.LoginServlet</servlet-class>
	</servlet>
	<mapping>
		<servlet-mapping>login</servlet-mapping>
		<url-pattern>/login</url-pattern>
	</mapping>
	
	<servlet>
		<servlet-name>getValue</servlet-name>
		<servlet-class>FianlSever.GetValueServlet</servlet-class>
	</servlet>
	<mapping>
		<servlet-name>getValue</servlet-name>
		<url-pattern>/getValue</url-pattern>
	</mapping>
</web-app>